<div class="container">
  <div class="app-header">
    <h3 class="app-title">
      <fa-icon [icon]="faCog "></fa-icon>
      Settings
    </h3>
    <button class="action-header-right-align" routerLink="/home">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
  </div>


  <table>
    <tr>
      <th>Dag</th>
      <th>Recept</th>
      <th>Land</th>
    </tr>

    <tr *ngFor="let weekMenuSetting of weekMenuSettings">
      <td class="week-day">{{weekMenuSetting.day}}</td>
      <td>
        <select [(ngModel)]="weekMenuSetting.recipeId"
                (ngModelChange)="updateRecipe(weekMenuSetting)">
          <option [value]="undefined" selected>Select any ...</option>
          <option *ngFor="let recipe of recipes"
                  [ngValue]="recipe.id"
          >{{recipe.name}}</option>
        </select>
      </td>
      <td>
        <select [ngModel]="weekMenuSetting.country"
                (ngModelChange)="updateCountry(weekMenuSetting, $event)">
          <option [value]="country.NONE" selected>Select any ...</option>
          <option *ngFor="let country of countries"
                  [value]="country"
                  ngDefaultControl>{{country | lowercase}}</option>
        </select>
      </td>
    </tr>
  </table>
</div>
