
table {
  background-color: white;
  width: 100%;

  tr {
    text-align: left;
    font-size: 1rem;

    th {
      padding: 1rem 2rem;
      font-weight: bold;
      border-bottom: #828282 0.1rem solid;

      //&.lock-header:hover {
      //  color: lightgray;
      //}
    }

    td {
      padding: 1rem 2rem;

    }

    .week-day {
      font-weight: bolder;
    }

    .lock {
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      width: 1.2rem;
    }
  }
}
