<table>
  <tr>
    <th>Dag</th>
    <th>Recept</th>
    <th>Land</th>
  </tr>

  <tr>
    <td>Ma</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Di</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Wo</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Do</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Vr</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Za</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Zo</td>
    <td>
      <select>
        <option>Recipe 1</option>
        <option>Recipe 2</option>
        <option>Recipe 3</option>
      </select>
    </td>
    <td>
      <select>
        <option>Italie</option>
        <option>Belgie</option>
        <option>Mexico</option>
      </select>
    </td>
  </tr>

</table>
