@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  margin-top: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;

  button {
    width: 100%;
    align-items: stretch;
  }
}

button {
  border-radius: 4px;
  font-size: large;
  border-width: 0;
  padding: 0.9rem;
}

.config-button {
  background-color: white;
  border-color: white;
}

.generate-button {
  background-color: #6FCF97;
  border-color: #6FCF97;
  color: white;

  &:active {
    opacity: 50%;
  }

  .ng-fa-icon {
    color: purple;
    padding-left: 0.3rem;
    font-size: 1rem;
    color: white;
  }
}


table {
  background-color: white;
  width: 100%;
  border-spacing: 20px;

  tr {
    text-align: left;
    font-size: 1rem;

    &:first-child {
      border-bottom: #828282 0.1rem solid;
    }

    td, th {
      padding: 0.5rem 1rem;

    }

    th {
      font-weight: bold;
      padding: 1rem;

      &.recipe {
        width: 100%;
      }
    }

    &:hover:not(:first-child) {
      cursor: pointer;
    }

    td {
      .flag img {
        vertical-align: center;
      }
    }

    .week-day {
      font-weight: bolder;
    }

  }
}


.lock-open {
  background-color: #6FCF97;
  text-align: center;
}

.lock-closed {
  background-color: #F98282;
  text-align: center;
}

.green-background {
  background-color: rgba(0, 200, 0, 0.1);
}

.version {
  font-size: 1rem;
}


@media screen and (max-width: 800px) {
  //.container {
  //  width: 100%;
  //}
}




