<div class="container">

  <div class="app-header">
    <img class="logo" src="assets/icons/icon-192x192.png">
    <h3 class="app-title">WeekMenu <a class="version">v0.04</a></h3>
    <button class="action-header-right-align" routerLink="/setting">
      <fa-icon [icon]="faCog"></fa-icon>
    </button>
  </div>

  <div class="btn-container">
    <button class="generate-button" (click)="generateWeekMenu()">Generate menu
      <fa-icon [icon]="faRedoAlt " class="generate-button-icon"></fa-icon>
    </button>
  </div>

  <table>
    <tr>
      <th>Dag</th>
      <th class="recipe">Recept</th>
      <th>Land</th>
    </tr>

    <tr *ngFor="let weekDay of weekMenu" (click)="weekDay.lock = !weekDay.lock"
        [ngClass]="weekDay.lock ? 'green-background' : ''">
      <td class="week-day">{{weekDay.day}}</td>
      <td>{{weekDay.recipe}}</td>
      <td class="flag"><img [src]="'assets/' + weekDay.country + '.png'" height="32"></td>
    </tr>
  </table>


</div>

<!--<app-modal></app-modal>-->
